<footer class="bg-dark text-white text-center py-4 mt-5">
  <div class="container">
      <p class="mb-2">&copy; 2024 | 20220140099</p>
      <p class="mb-0">Pengembangan Aplikasi Web</p>
  </div>
</footer>
  