<main class="container mt-5">
    <div class="text-center">
        <h1 class="display-4 text-primary">Welcome to DashBoard</h1>
        <p class="lead text-muted">Anda sekarang sedang berada di dalam halaman dashboard <strong></strong> <strong></strong>.</p>

        <div class="mt-5">
            <div class="card shadow-lg p-4" style="border-radius: 10px;">
                <img src="images/foto.jpg" class="card-img-top" alt="Dashboard Image">
                <div class="card-body">
                    <h3 class="card-title"></h3>
                    <p class="card-text">Haloo jika kamu butuh lebih bisa langsung kepoin website kami :b </p>
                </div>
            </div>
        </div>
    </div>
</main>

<link rel="stylesheet" href="/styles/home.css">
<!-- Bootstrap JS and dependencies -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
